@font-face{
	font-family: "tesla";
	src:         url("https://brianpurgert2.com/fonts/tesla.woff2") format("woff2");
}

div, svg, p, h1, h2, h3, h4, h5, h6, a, li, ul, ol, span, i, b, strong, em, small, label, input, textarea, select, button, form, table, tr, td, th, tbody, thead, tfoot, caption, blockquote, q, cite, pre, code, hr, fieldset, legend, dl, dt, dd, address, article, aside, audio, canvas, details, figcaption, figure, footer, header, hgroup, main, menu, nav, output, section, summary, time, video, img{

	/*box-shadow: 0px 0px 0 1px rgba(189, 44, 68, 0.26), inset 0px 1px 0 0px rgb(18, 90, 134);*/

}

/*--v-theme-primary: #bd2c44;*/
/* CSS HEX */
:root{

	--cardinal:     #bd2c44ff;
	--cordovan:     #932638ff;
	--gunmetal:     #182b38ff;
	--night:        #121212ff;
	--wine:         #681f2bff;
	--black-bean:   #3d191fff;
	--ucla-blue:    #2975a8ff;
	--indigo-dye:   #1e445dff;
	--lapis-lazuli: #245d83ff;
}

.v-btn--variant-text,
.v-btn .v-icon,
.v-btn__content,
.v-btn__prepend{

	color: var(--ucla-blue);
}

.v-snackbar__content{
	padding: 1px !important;
}

.tesla-text{
	color:          #2975a8;
	/*line-height:    4rem !important;*/
	font-family:    "tesla", cursive !important;
	font-size:      7.1rem !important;
	/*font-family:   "Arame Mono", monospace !important;*/
	font-style:     italic;
	margin-bottom:  -2rem;
	margin-left:    -5rem;
	text-shadow:    1px 1px 0px rgba(9, 9, 9, 0.95), 3px 3px 0px rgba(243, 243, 243, 0.95);
	vertical-align: baseline !important;
}

.twixer .v-timeline-divider__dot{
	/*background-color: transparent !important;*/
}

.v-timeline-divider__inner-dot{
	/*background-color: transparent !important;*/
}

.v-timeline-divider__dot,
.v-timeline-divider__inner-dot{
	background-color: transparent !important;
}

