@import "https://fonts.fontstorage.com/import/gilam.css";

.v-theme--dark{
	color-scheme:                                    dark;
	--v-theme-background:                            18, 18, 18;
	--v-theme-background-overlay-multiplier:         1;
	--v-theme-surface:                               33, 33, 33;
	--v-theme-surface-overlay-multiplier:            1;
	--v-theme-surface-bright:                        204, 191, 214;
	--v-theme-surface-bright-overlay-multiplier:     2;
	--v-theme-surface-variant:                       163, 163, 163;
	--v-theme-surface-variant-overlay-multiplier:    2;
	--v-theme-on-surface-variant:                    66, 66, 66;
	--v-theme-primary:                               187, 134, 252;
	--v-theme-primary-overlay-multiplier:            2;
	--v-theme-primary-darken-1:                      55, 0, 179;
	--v-theme-primary-darken-1-overlay-multiplier:   1;
	--v-theme-secondary:                             3, 218, 197;
	--v-theme-secondary-overlay-multiplier:          2;
	--v-theme-secondary-darken-1:                    3, 218, 197;
	--v-theme-secondary-darken-1-overlay-multiplier: 2;
	--v-theme-error:                                 207, 102, 121;
	--v-theme-error-overlay-multiplier:              2;
	--v-theme-info:                                  33, 150, 243;
	--v-theme-info-overlay-multiplier:               2;
	--v-theme-success:                               76, 175, 80;
	--v-theme-success-overlay-multiplier:            2;
	--v-theme-warning:                               251, 140, 0;
	--v-theme-warning-overlay-multiplier:            2;
	--v-theme-on-background:                         255, 255, 255;
	--v-theme-on-surface:                            255, 255, 255;
	--v-theme-on-surface-bright:                     0, 0, 0;
	--v-theme-on-primary:                            255, 255, 255;
	--v-theme-on-primary-darken-1:                   255, 255, 255;
	--v-theme-on-secondary:                          0, 0, 0;
	--v-theme-on-secondary-darken-1:                 0, 0, 0;
	--v-theme-on-error:                              255, 255, 255;
	--v-theme-on-info:                               255, 255, 255;
	--v-theme-on-success:                            255, 255, 255;
	--v-theme-on-warning:                            255, 255, 255;
	--v-border-color:                                255, 255, 255;
	--v-border-opacity:                              0.12;
	--v-high-emphasis-opacity:                       1;
	--v-medium-emphasis-opacity:                     0.7;
	--v-disabled-opacity:                            0.5;
	--v-idle-opacity:                                0.1;
	--v-hover-opacity:                               0.04;
	--v-focus-opacity:                               0.12;
	--v-selected-opacity:                            0.08;
	--v-activated-opacity:                           0.12;
	--v-pressed-opacity:                             0.16;
	--v-dragged-opacity:                             0.08;
	--v-theme-kbd:                                   33, 37, 41;
	--v-theme-on-kbd:                                255, 255, 255;
	--v-theme-code:                                  52, 52, 52;
	--v-theme-on-code:                               204, 204, 204;
}

@media (max-width: 960px){
	.v-timeline-divider{
		display: none !important;
	}

	.v-container{
		padding-left:  0px !important;
		padding-right: 0px !important;
		margin-left:   0px !important;
		margin-right:  0px !important;
	}

	.v-timeline-item__body{
		/*padding-left: 0px !important;*/
	}

	.bp-year{

	}

	.v-timeline-item__opposite{
	}

}

/*.v-timeline-divider,*/
/*.v-timeline-item__opposite{*/
/*	display:  none !important;*/
/*}*/

/*.v-container{*/
/*	padding-left:  0px !important;*/
/*	padding-right: 0px !important;*/
/*	margin-left:   0px !important;*/
/*	margin-right:  0px !important;*/
/*}*/

/*@media (min-width: 960px){*/
/*	.v-timeline-divider,*/
/*	.v-timeline-item__opposite{*/
/*		display: flex !important;*/
/*	}*/
/*}*/

:root{
	--night:        #121212ff;
	--black-bean:   #3d191fff;
	--wine:         #681f2bff;
	--cordovan:     #932638ff;
	--cardinal:     #bd2c44ff;
	--ucla-blue:    #2975a8ff;
	--lapis-lazuli: #245d83ff;
	--indigo-dye:   #1e445dff;
	--gunmetal:     #182b38ff;
}

.v-card{

	background-color:        rgba(var(--v-theme-background), 0.7) !important;
	backdrop-filter:         blur(9px) saturate(180%) !important;
	-webkit-backdrop-filter: blur(16px) saturate(180%) !important;
	/* background:              linear-gradient(180deg, rgba(13, 13, 13, .8), rgba(13, 13, 13, 0)) !important; */
	/* border-radius:           18px !important; */
	border-top:              1px solid rgba(255, 255, 255, 0.2) !important;

	border-bottom:           3px solid rgba(255, 255, 255, 0.16) !important;
	border-right:            2px solid rgba(255, 255, 255, 0.32) !important;
	border-left:             2px solid rgba(255, 255, 255, 0.3) !important;

}

@font-face{
	font-family: yielding timber;
	font-style:  normal;
	font-weight: 400;
	src:         local("Yielding Timber"), url(https://fonts.cdnfonts.com/s/95345/YieldingTimber-axvmg.woff) format("woff")
}

@font-face{
	font-family: yielding timber semi-italic;
	font-style:  normal;
	font-weight: 400;
	src:         local("Yielding Timber Semi-Italic"), url(https://fonts.cdnfonts.com/s/95345/YieldingTimberSemiItalic-6YlAA.woff) format("woff")
}

@font-face{
	font-family: "tesla";
	src:         url("/fonts/tesla.woff2") format("woff2");
}

.v-main{
	/* backdrop-filter: unset !important; */
	/* border:          10px solid rgba(255, 255, 255, 1); */
}

#is82 .v-card-title{
	font-family:     "Yielding Timber" !important;
	/*font-size       :  !important;*/
	position:        absolute;
	bottom:          0px;
	width:           100% !important;
	height:          50px !important;
	text-align:      center;
	color:           rgb(255, 255, 255);
	background:      rgba(0, 0, 0, 0.5);
	text-shadow:     1px 1px 0px rgba(9, 9, 9, 0.95), 2px 2px 0px rgb(41, 117, 168);
	backdrop-filter: blur(5px);
}

#bp:hover{
	filter: hue-rotate(0deg) saturate(150%) brightness(100%) contrast(100%);
}

#is82 .v-card-subtitle{
	font-family: "Yielding Timber Semi-Italic", sans-serif !important;
	position:    absolute;
	text-align:  end;
	background:  rgba(0, 0, 0, 0.5);
	top:         0px;
	right:       0px;
}

#is82 .v-card-text{
}

.robot-crush{
	font-family: "Segoe UI", sans-serif !important;
	font-size:   1.7em !important;
	color:       #ffffff;
	text-shadow: 1px 1px 0px rgba(9, 9, 9, 0.95), 3px 3px 0px rgba(243, 243, 243, 0.95);
}

.axial-cut{
	font-family: "Gilam DEMO", sans-serif !important;
	/*
	Gilam DEMO, 100 italic, 900
*/
	color:       #2975a8;
	text-shadow: 1px 1px 0px rgba(9, 9, 9, 0.95),
	             2px 2px 0px rgb(189, 44, 68),
	             3px 3px 0px rgba(243, 243, 243, 0.95);
}

.bp-shadow{
	font-family: "Yielding Timber", sans-serif !important;
	font-style:  italic;
	color:       rgb(255, 255, 255);
}

.bp-year{
	z-index:     1;
	position:    absolute;
	left:        0px;

	/*margin: 10px 0.5em;*/
	padding:     0px 11px;
	text-align:  center;

	/* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
	box-shadow:  0px 2px 0px 0px rgb(47, 47, 47);

	font-family: "Bauhaus 93", system-ui !important;
	font-size:   1.6em !important;

	width:       fit-content;

	margin:      20vh -10px;

	color:       rgb(255, 255, 255);
	text-shadow: 1px 1px 0px rgba(9, 9, 9, 0.95), 2px 2px 0px rgb(41, 117, 168);
}

.rs-hovering{
	left:    0;
	opacity: 0.5;
}

.rs-not-hovering{
	left:    -500px;
	opacity: 1;
}

.v-timeline-item__body{
	/*max-width: calc(100% - 300px);*/
}

VideoBackground{
	height: 337px;
}

.video-overlay-text{
	font-family:     "Yielding Timber Semi-Italic", sans-serif !important;
	font-size:       2.4em !important;
	position:        absolute !important;
	bottom:          0;
	width:           100% !important;
	height:          2.7rem !important;
	text-align:      center;
	color:           rgb(255, 255, 255);
	background:      rgba(0, 0, 0, 0.5);
	text-shadow:     1px 1px 0px rgba(9, 9, 9, 0.95), 2px 2px 0px rgb(41, 117, 168);
	backdrop-filter: blur(5px);
}

.video-overlay-subtext{
	font-family: "Yielding Timber Semi-Italic", sans-serif !important;
	font-size:   1.0em !important;
	position:    absolute !important;
	bottom:      0;
	left:        0;
	width:       45% !important;
	height:      4.5rem !important;
	padding:     0.8rem !important;
	opacity:     1 !important;
	color:       rgb(255, 255, 255);
	text-shadow: 1px 1px 0px rgba(9, 9, 9, 0.95), 2px 2px 0px rgb(41, 117, 168);
}

.google_installs{
	font-size: 10em;
	position:  absolute;
	bottom:    0px;
	left:      0;
	height:    100%;
}

.google_installs > svg{
	width:          1em;
	height:         0.5em !important;
	margin-bottom:  -75px !important;
	margin-left:    -4px;
	vertical-align: bottom;
}

.shadow-blue{
	text-shadow: 1px 1px 0px rgba(9, 9, 9, 0.95), 2px 2px 1px rgb(41, 117, 168), 3px 3px 1px rgb(41, 117, 168);
}

.shadow-red{
	text-shadow: 1px 1px 0px rgba(9, 9, 9, 0.95), 2px 2px 1px rgb(189, 44, 68), 3px 3px 1px rgb(189, 44, 68);
}

.bp-test{
	outline:    5px dotted rgba(189, 44, 68, 0.9);
	box-shadow: inset 0px 0px 0px 4px rgb(106, 0, 85),
	            inset 0px 0px 6px 6px rgb(0, 56, 106);
}

.bg-primary{
	background-color: rgba(24, 24, 24, 0.75) !important;
}

/* timeline */
.v-timeline-item__body{
}

.v-btn--variant-text,
.v-btn .v-icon,
.v-btn__content,
.v-btn__prepend{
	color: var(--ucla-blue);
}

.v-snackbar__content{
}

.v-timeline-divider__dot,
.v-timeline-divider__inner-dot{

	background-color: transparent !important;
}

/* SCAR CODE */
.seDefault{
	font-family:     "Courier New";
	font-size:       12px;
	font-weight:     normal;
	font-style:      normal;
	overflow:        hidden;
	white-space:     nowrap;
	text-decoration: none;
	color:           #000000;
}

.Default{
	font-family:     "Courier New";
	font-size:       12px;
	font-weight:     normal;
	font-style:      normal;
	overflow:        hidden;
	white-space:     nowrap;
	text-decoration: none;
	color:           #000000;
}

.Symbol{
	font-weight:     normal;
	font-style:      normal;
	text-decoration: none;
	color:           #000000;
}

.Number{
	font-weight:     normal;
	font-style:      normal;
	text-decoration: none;
	color:           #000080;
}

.String{
	font-weight:     normal;
	font-style:      normal;
	text-decoration: none;
	color:           #ff00ff;
}

.Identifier{
	font-weight:     normal;
	font-style:      normal;
	text-decoration: none;
	color:           #000000;
}

.Reserved_word{
	font-weight:     bold;
	font-style:      normal;
	text-decoration: none;
	color:           #000000;
}

.Comment{
	font-weight:     normal;
	font-style:      normal;
	overflow:        hidden;
	white-space:     nowrap;
	text-decoration: none;
	color:           #008000;
}

.Preprocessor{
	font-weight:     normal;
	font-style:      normal;
	text-decoration: none;
	color:           #800080;
}

.Selected_block{
	color:            #ffffff;
	background-color: #0078d7;
}

.Current_block{
}

.Current_Line{
	background-color: #e3e3e3;
}

.Search_Match{
	font-weight:      bold;
	font-style:       normal;
	text-decoration:  none;
	color:            #ffffff;
	background-color: #000000;
}

.Invalid_symbol{
	font-weight:     bold;
	font-style:      normal;
	text-decoration: line-through;
	color:           #ff0000;
}
